name: Audit NPM Dependencies

permissions: {}

on:
  workflow_call:

jobs:
  audit:
    name: Audit NPM Dependencies
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/iron # 20
          cache: 'npm'
          check-latest: true
      - run: npm clean-install
      - run: npm upgrade
      - run: npm audit --production
